.cartItems {
  width: 75%;
  /* border: 5px solid green; */
  border-radius: 16px;
  display: flex;
  /* flex-direction: column; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4vh;
  padding: 2rem;
  justify-content: space-between;
}

.cartImage {
  height: 28vh;
  width: 13vw;
  place-content: center;
  align-self: center;
}

.cartItems-p1 {
  display: flex;
}

.cartItems-p1 h2 {
  margin-left: 5rem;
  width: 15rem;
}

.cartTitle {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 768px) {
  .cartItems {
    width: 70%;
  }
}
