.searchBarHeaderContainer {
  background-color: #04aa6d;
  margin: 0;
  display: flex;
  justify-content: space-between;
  height: 5vh;
  align-items: center;
  width: 100%;
  margin-bottom: -20px;
}

.searchBarHeaderContainer input {
  border-radius: 16px;
  height: 3vh;
  width: 24vw;
}
.hide {
  display: none;
}

.searchResultContainer {
  margin-top: 5vh;
  z-index: 45;
  position: absolute;
  background-color: #d5d1d1;
  color: black;
  height: 60vh;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  width: 100%;
}
.mobileNavbar {
  position: absolute;
  height: 60vh;
  background-color: #d5d1d1;
  width: 100%;
  z-index: 50;
  margin-top: 27rem;
}
.mobileNavbar h2 {
  text-align: center;
  color:white
}
.searchProductData span {
  width: 10%;
}
.searchResultContainer a {
  text-decoration: none;
  color: black;
}

.logo {
  font-weight: bold;
}

.searchBarHeaderContainermain {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.searchProductData {
  display: flex;
  justify-content: space-evenly;
  height: 10vh;
}
@media (max-width: 768px) {
  .useravatar{
    display: none;
  }
}
