.feature {
  display: flex;
  border: 1px solid black;
  width: 23rem;
  flex-direction: column;
  border-radius: 16px;
  padding: 1rem;
  height: 30vh;
  box-sizing: border-box;
  align-items: center;
  transition: 0.5s;
  height: fit-content;
}

.feature h1,
h4 {
  margin: 0;
}

.feature-container {
  margin-top: 3vh;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.feature:hover {
  translate: 0 -10px;
}

.featuredProducts {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
