/* style={{ position: "relative" , float:"left" }} */

.headingContainer{
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  background-color: #04AA6D;
  font-size: larger;
  font-weight: bolder;
  color: white;
  height: 4vh;
}
.headingContainer a{
text-decoration: none;
color: white;
}
